<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="cacheRedissonClient_forjson" class="com.wf.core.cache.redis.redisson.CacheRedissonClient">
        <property name="host" value="${cache.host}" />
        <property name="port" value="${cache.port}" />
    </bean>
    <bean id="jedisPoolConfig_forjson" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${cache.maxIdle}"/>
        <property name="testOnBorrow" value="${cache.testOnBorrow}"/>
    </bean>
    <bean id="redisCacheHander_forjson" class="com.wf.core.cache.redis.JsonRedisCacheHanderImpl">
        <property name="jedisPoolConfig" ref="jedisPoolConfig_forjson"/>
        <property name="host" value="${cache.host}"/>
        <property name="port" value="${cache.port}"/>
        <property name="cacheRedissonClient" ref="cacheRedissonClient_forjson"/>
    </bean>
</beans>
